on:
    workflow_call:
        inputs:
            platform:
                required: true
                type: string

jobs:
    ci:
        name: CI
        runs-on: ${{ inputs.platform }}
        defaults:
            run:
                shell: bash
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22.5.1

            - name: Install dependencies
              run: npm install

            - name: Formatting
              run: npm run format:check

            - name: Linting
              run: npm run lint

            - name: Build
              run: npm run build

            - name: Unit tests
              run: npm run test
