name: CI

on:
    push:
        branches:
            - main
    workflow_dispatch:
    workflow_call:

permissions:
    checks: write
    contents: read

jobs:
    ci:
        name: Continuous Integration
        runs-on: ubuntu-latest
        defaults:
            run:
                shell: bash
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22

            - name: Install dependencies
              run: npm install

            - name: Create sub-checks
              run: npx zci init

            - name: Formatting
              run: npx zci run format "npm run format:check"

            - name: Build
              run: npx zci run build "npm run build"

            - name: Linting
              run: npx zci run lint "npm run lint"

            - name: 'Unit tests: common'
              run: npx zenfs-test -pfwC --common

            - name: 'Unit tests: InMemory'
              run: npx zenfs-test -pfwC tests/setup/memory.ts

            - name: 'Unit tests: contexts'
              run: npx zenfs-test -pfwC tests/setup/context.ts

            - name: 'Unit tests: Index'
              run: npx zenfs-test -pfwC tests/setup/index.ts

            - name: 'Unit tests: Port'
              run: npx zenfs-test -pfwC tests/setup/port.ts

            - name: 'Unit tests: Fetch'
              run: tests/fetch/run.sh -wC

            - name: Report coverage
              run: npx zenfs-test --report

            - name: Cleanup sub-checks
              if: always()
              run: npx zci cleanup
